.homeTeam_main {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.homeTeam_main .card_container {
  position: relative;
  height: 70vh;
  width: 100px;
  border-radius: 0.5rem;
  color: var(--off-white);
  overflow: hidden;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.card_container.active {
  width: 300px;
}

.homeTeam_main .card_container.active .teamCard_profile {
  left: 100vw;
}

.teamCard_profile {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: -20px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: all 0.7s ease-in-out;
}

.homeTeam_main .card_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.7s ease-in-out;
}

.teamCard_details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.teamCard_number,
.teamCard_info,
.social_buttons {
  transition: all 0.7s ease;
}

.teamCard_number {
  font-size: 5rem;
  font-weight: 500;
  opacity: 0.75;
  transform: translateY(-150px);
}

.teamCard_info {
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  transform: translateX(-250px);
  color: #fff;
}

.teamCard_info span {
  line-height: 1.5rem;
}

.teamCard_position {
  font-size: 1rem;
}

.social_buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  transform: translateY(100px);
}

.social_buttons a {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card_container.active img {
  filter: grayscale(1);
  transform: scale(1.75);
  transform-origin: left;
}

.card_container.active .teamCard_number,
.card_container.active .teamCard_info,
.card_container.active .social_buttons {
  transform: translateY(0);
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .homeTeam_main {
    height: 100%;
  }

  .homeTeam_main .card_container {
    height: 45vh;
    width: 300px;
  }

  .teamCard_details {
    padding: 0.5rem;
    align-items: flex-start;
  }

  .homeTeam_main .card_container .teamCard_profile {
    left: 100vw;
  }

  .card_container.active img,
  .card_container img {
    filter: grayscale(0);
    transform: scale(1);
  }

  .card_container .teamCard_number,
  .card_container .teamCard_info,
  .card_container .social_buttons {
    transform: translateY(0);
  }

  .teamCard_number {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-shadow: 1px 1px #333;
  }

  .teamCard_info {
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 1px 1px #666;
  }

  .teamCard_position {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .social_buttons a {
    height: 2rem;
    width: 2rem;
    font-size: 1.1rem;
  }
}
