.projects_main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.project_card {
  position: relative;
  height: 200px;
  width: 250px;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px var(--off-white);
  transition: all ease 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project_card img {
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  object-fit: cover;
}

.project_card .card_data_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(250px);
  transition: all 0.5s ease;
}

.project_card:hover .card_data_wrapper {
  transform: translateY(0);
}

.project_card .card_data {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: var(--off-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.project_card .card_data .card_name {
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.8;
}

.project_card .card_data .card_desc {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.project_card .card_data .card_btn {
  display: flex;
  gap: 1rem;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .projects_main {
    justify-content: center;
    gap: 1rem;
  }

  .project_card {
    height: 120px;
    width: 250px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }

  .project_card .name_n_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .project_card .name_n_icon i {
    font-size: 1.5rem;
    width: max-content;
  }
}
