.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  scroll-margin-top: 10vh;
}

.hero_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5vh 2rem;
}

.hero_main .hero_title {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: bold;
}

.hero_title .logo_name {
  height: 64px;
}

.hero_title .logo_name img {
  height: 100%;
}

.hero_main .hero_title .shape {
  color: #e3735e;
}

.hero_buttons,
.hero_info,
.hero_info p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero_buttons a {
  min-width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--dark-1);
  color: var(--off-white);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero_buttons a:nth-child(2) {
  background-color: var(--off-white);
  color: var(--dark-1);
  border-color: var(--dark-1);
}

/* .hero_buttons a:hover {
  background-color: var(--off-white);
  color: var(--off-dark);
  border-color: var(--off-dark);
}

.hero_buttons a:nth-child(2):hover {
  background-color: var(--off-dark);
  color: var(--off-white);
  border-color: var(--off-white);
} */

.hero_info p {
  gap: 0.5rem;
  font-weight: 500;
}

.hero_info p i {
  background-color: var(--dark-1);
  color: var(--off-white);
  padding: 0.5rem;
  border-radius: 50%;
}

/* Make sure button can hold pseudo elements */
.shimmer_btn {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

/* shimmer layer */
.shimmer_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 60%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );

  transform: skewX(-20deg);
}

/* animation */
.shimmer_btn::before {
  animation: shimmerMove 3s infinite;
}

@keyframes shimmerMove {
  0% {
    left: -120%;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 220%;
  }
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .hero {
    height: max-content;
  }

  .hero_main {
    gap: 1.5rem;
    padding: 1rem 0;
  }

  .hero_main .hero_title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .hero_title .logo_name img {
    height: 3rem;
  }

  .hero_buttons,
  .hero_info {
    gap: 0.75rem;
  }

  .hero_buttons a {
    min-width: 225px;
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  .hero_info {
    transform: translateX(20%);
    justify-content: flex-start;
  }

  .hero_info p {
    gap: 0.5rem;
    font-size: 0.9rem;
  }

  .hero_info p i {
    padding: 0.25rem;
    font-size: 0.75rem;
  }
}
