.section_number {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.section_number.light {
  color: var(--off-white);
}

.section_number span {
  line-height: 1em;
  opacity: 0.4;
}

.section_number span.current {
  opacity: 1;
}
